.about {
  box-sizing: border-box;
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  margin: auto;
}

.introduce {
  margin: 0 5%;
  padding: 2%;
  background-color: white;
  border-radius: 2%;
}

.dash {
  list-style-position: inside;
  list-style-type: disc;
  padding: 2% 0;
}
