.footerContainer {
  text-align: center;
  margin-top: 10%;
  padding: 10% 0;
  background-color: #333;
  width: 100vw;
  height: 25vh;
}

.textContainer {
  margin: 0;
}

.logo {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50px;
}

.image:hover {
  cursor : pointer;
}

.text {
  text-align: center;
  color: aliceblue;
  margin: -5% 0 3% 0;
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
  .footerContainer {
    margin-top: 10%;
    height: 20vh;
  }

  .text {
    margin: 3%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .footerContainer {
    margin-top: 10%;
    height: 25vh;
  }
}