* {
  box-sizing: border-box;
  margin: 0;
  color: #333;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  background: linear-gradient(45deg, #fff4f6, #eef1ff);
  font-size: 1.6rem;
  line-height: 2;
  font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.wrap {
	overflow: hidden;
}

h2 {
  font-size: calc(4rem + ((1vw - 0.64rem) * 0.7143));
  line-height: 1.3;
}

p {
  display: block;
  max-width: 640px;
}

li {
  list-style: none;
  text-decoration: none;
  margin: 0 2%;
}

li > a {
  text-decoration: none;
}

#top {
  width: 100vw;
  height: 80vh;
  position: 'relative'
}

#site {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#about {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
}

/*   media query   */

@media (min-width: 1200px) {
  h2 {
    font-size: 5rem;
  }
}
  
@media screen and (max-width: 640px) {
  body {
    line-height: 2;
    font-size: 1rem;
    width: 100%;
  }

  h2 {
    font-size: 2rem;
  }

  p, summary {
    margin-inline-start: 0.5em;
    margin-inline-end: 0.5em;
    font-size: 1.2rem;
  }
  
  .job-photo {
    width: 5rem;
    height: 5rem;
  }

  ul {
    padding: 0;
  }

}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }

  #job-experience {
    height: 100vh;
  }

}
