.jobExperience {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.jobHistory {
  display: grid;
  flex-direction: column;
  justify-items: start;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 2%;
  padding: 2% 4%;
  margin: 2% 0;
}



@media only screen and (min-width: 601px) {
  .card {
    font-size: 0.8rem;
  }

}

@media only screen and (min-width: 900px) {
  .jobHistory {
    opacity: 1
  }

}