.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}


.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 240px;
  object-fit: cover;
  border-radius: 2%;
  margin: 5%;
  padding: 0;
}

.card:hover {
  cursor: pointer;
  transition: 0.3s;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin: 2%;
  width: 100%;
}

.logo {
  width: 40px;
}

.logo:hover {
  transition: 0.2s ease-in-out;
  opacity: 0.7;
}

.text {
  max-width: 60%;
}

.backButton {
  color: #404040;
  border: none;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.1);
}

.buttonLine {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 25px;
  color: #404040;
  transition: 0.3s ease-in-out;
}

.buttonLine:before {
  position: absolute;
  bottom: 0px;
  left: 50%;
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, .1);
  transform: translateX(-50%);
}

.buttonLine:after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #404040;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.buttonLine:hover {
  opacity: 0.7;
}

.buttonLine:hover:after {
  transform: scale(1, 1);
}


@media only screen and (max-width: 360px) {
  .card {
    max-width: 240px;
  }
}