.projects {
  width: 100%;
  height: 100vh;
}


.projectsCards {
  display: flex;
  gap: 5%;
  justify-content: center;
  text-align: center;
}

.card {
  width: 240px;
  object-fit: cover;
  border-radius: 2%;
}

/* .text {
  color: white;
  border-radius: 2%;
  font-size: 3rem;
  background: #333;
  position:	absolute;
  top: 0;
	left:	0;
	opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:all 0.2s ease;
} */


.card:hover {
  cursor : pointer;
	transition: 0.1s;
}

/* .text:hover {
  cursor : pointer;
  opacity: 0.8;
	transition: 0.3s;
} */




@media only screen and (max-width: 840px) {
  .card  {
    max-width: 240px;
    margin: 5% 0;
  }

  .projectsCards {
    display: flex;
    gap: 5%;
    flex-direction: column;
  }
}