.site {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.greeting {
  text-align: left;
  margin: 2%;
  padding: 2%;
  max-width: 60%;
  background-color: white;
  border-radius: 2%;
}