.skills {
  width: 100%;
  height: 100vh;
}

.skillCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
}

.card > h3 {
  text-align: center;
}

.card {
  text-align: left;
  min-width: 180px;
  background-color: white;
  border-radius: 2%;
  margin: 2%;
}

.card > ul {
  padding: 5% 10%;
}

.dash {
  list-style-position: inside;
  list-style-type: disc;
}

@media only screen and (min-width: 800px) {
  .card  {
    min-width: 300px;
  }
}